@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif; 
}

/* upper outer */

.upper-outer{
    width: 100%;
    height: 50px;
    background-color: #3E54A2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-outer h5 a {
    color: white;
}

/* ---------------------------------------------------------------------------------- */

/* nav bar */
.nav-bar{
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #aab2b7; 
}

.nav-inner{
    height: 100%;
}

.nav-left{
    width: 250px;
}

.nav-right{
    flex: 1;
}

.nav-left img{
    height: 59px;
}

/* ---------------------------------------------------------------------------------- */

/* list */

.nav-right ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}


.nav-right ul li:last-child{
    margin: 0;
}


.nav-right ul li a{
    font-style: italic;
    color: black;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------- */