@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif; 
}


/* upper outer */

.upper-outer{
    width: 100%;
    height: 50px;
    background-color: #3E54A2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-outer h5 a {
    color: white;
}


/* ---------------------------------------------------------------------------------- */

/* nav bar */

.nav-bar{
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #aab2b7; 
}

.nav-inner{
    height: 100%;
}

.nav-left{
    width: 250px;
}

.nav-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-left img{
    height: 59px;
    display: flex;
    align-items: center;
}



/* list */

.nav-right ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}


.nav-right ul li:last-child{
    margin: 0;
}


.nav-right ul li a{
    font-style: italic;
    color: black;
    text-decoration: none;
    position: relative;
}



/* animation */

.nav-right a::before, 
.nav-right a::after{
     content: "";
     position: absolute;/* can change easily */
     bottom: 0;
     width: 0;/*  default 0 */
     height: 2px;
     background-color: red;
     transition: width 0.5s ease-in-out;
}

.nav-right a::before{
    left: 50%;
    transform: translateX(-50%);
}

.nav-right a::after{
    right: 50%;
    transform: translateX(50%);
}

.nav-right a:hover:before, 
.nav-right a:hover:after{
     width: 50%;
}


/* badge */

.pro{
    background-color: #3E54A2;
    padding: 4px 8px;
    font-size: 12px;
    color: white;
}

.login-btn{
     margin: 0 20px;
     padding: 6px 15px;
     background-color: #1C2022;
}

.btn{
    color: white;
     border: none;
     border-radius: 50px;
     cursor: pointer;
}

/* ---------------------------------------------------------------------------------- */

/* main banner */

.main-banner{
    width: 100%;
    height: 500px;
    display: flex;
}

.banner-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-right{
    width: 600px;
    height: 100%;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-right img{
    width: 90%;
}

.main-p{
    padding:0 35px;
}


.main-p1{ 
    color: #3E54A2;
    font-size: 70px;
}

.main-p2{
    color: #1C2022;
    font-size: 20px; 
    padding-top: 15px;
}

.login-git-btn{
    margin: 30px 50px;
    padding: 9px 35px;
    background-color: #EB2C49;
}


/* ---------------------------------------------------------------------------------- */